// works only with 127.0.0.1 and not with full ip address, while hue works different
Bridge deconz:deconz:homeserver [ host="127.0.0.1", httpPort="8084", port="8081", apikey="xxxxxxxx" ] {
    switch              oh-kueche      "tradfri-küche"        [ id="9" ] //kitchen
    switch              tradfri-3      "tradfri-fensterbank"  [ id="4" ] //fensterbank
    switch              tradfri-4      "tradfri-musik"        [ id="5" ] //musik
    switch              tradfri-5      "tradfri-coffe"        [ id="6" ] //coffee switch
    switch              oh-arbeit      "tradfri-arbeitszimmer"        [ id="11" ] 
    switch              oh-wohnzimmer      "tradfri-wohnzimmer"        [ id="10" ] 

    dimmablelight               oh-arbeitszimmer-decke [ id="5" ]
    dimmablelight               oh-coffee-corner [ id="4" ]
    dimmablelight               oh-coffee-corner-2 [ id="11" ]
    dimmablelight               oh-wohnzimmer-decke-2 [ id="10" ]
    colortemperaturelight       oh-wohnzimmer-decke-klar "Wohnzimmer Klar" [ id="13" ]
    colortemperaturelight       oh-kueche-decke "Kueche Decke" [ id="6" ]
}