Bridge openweathermap:weather-api:api "OpenWeatherMap Account" [apikey="xxxxx", refreshInterval=60, language="de"] {
    Thing weather-and-forecast local "Local Weather And Forecast" [location="xxx,xxx", forecastHours=0, forecastDays=7]
    Thing onecall local "Local Weather and Forecast" [location="xxx,xxx"]
}

